PORT=3001

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/auth_db

# Mail configurations
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=placeholder_user
SMTP_PASS=placeholder_pass
SMTP_FROM="Scale Auth <no-reply@scaleauth.com>"

# Client configurations
CLIENT_URL=http://localhost:3001

ACCESS_TOKEN_SECRET = asfhasdfkjl4asdf
REFRESH_TOKEN_SECRET = asfh3432jadsfl3i2oh4

NODE_ENV = "development"

REDIS_URL = http://localhost:6379
